<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Font -->

    <link rel="stylesheet" href="~/Content/normalize.css">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="~/Content/responsive.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!-- Header Start -->
        <header id="home">

            <!-- Main Menu Start -->
            <div class="main-menu">
                <div class="navbar-wrapper">
                    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle Navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <a href="#" class="navbar-brand">Logo</a>
                            </div>

                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#home">Pagina Principal</a></li>
                                    <li><a href="#about">Informacion</a></li>
                                    <li><a href="#features">Nuestros Servicios</a></li>
                                    <li><a href="#feature-work">Actividades</a></li>
                                    <li><a href="#testimonials">Testimonios</a></li>                                
                                    <li><a href="#contact-us">Contactos</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Menu End -->
            <!-- Sider Start -->
            <div class="slider">
                <div id="fawesome-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators indicatior2">
                        <li data-target="#fawesome-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#fawesome-carousel" data-slide-to="1"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/img/La-Adoración-a-Dios.jpg" alt="Sider Big Image" style="width:1600px; height:608px">
                            <div class="carousel-caption">
                                <h1 class="wow fadeInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                                <div class="slider-btn wow fadeIn">
                                    <a href="#" class="btn btn-learn">Leer mas</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/slider2.jpg" alt="Sider Big Image">
                            <div class="carousel-caption">
                                <h1 class="wow fadeInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                                <div class="slider-btn wow fadeIn">
                                    <a href="#" class="btn btn-learn">Leer mas</a>
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
            <!-- Sider End -->

        </header>
        <!-- Header End -->
        <!-- footer -->



        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/Scripts/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="~/Scripts/plugins.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
        <script src="~/Scripts/paralax.js"></script>
        <script src="~/Scripts/jquery.smooth-scroll.js"></script>
        <script src="~/Scripts/jquery.sticky.js"></script>
        <script src="~/Scripts/wow.min.js"></script>
        <script src="~/Scripts/main.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {
                $('a[href^="#"]').on('click', function (e) {
                    e.preventDefault();

                    var target = this.hash;
                    var $target = $(target);

                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, 900, 'swing');
                });
            });
        </script>

        <script src="~/Scripts/custom.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                    function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = 'https://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
        </script>
 
        @RenderBody()
        <hr />
        <!-- footer -->

        <footer>
           
        </footer>
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="social">
                            <ul>
                                <li><a href="https://www.facebook.com/accionmisionera.lospalmares" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
